.root {
  container-type: inline-size;
}

.scale {
  font-size: 1rem;
}

@container (max-width: 1728px) {
  .scale {
    font-size: calc(1.25cqw);
  }
}

@container (max-width: 991px) {
  .scale {
    font-size: calc(2cqw);
  }
}

@container (max-width: 767px) {
  .scale {
    font-size: calc(3cqw);
  }
}
