.root {
  --button-ease-click: cubic-bezier(0.4, 0, 0.2, 1);
  --button-ease-overshoot: cubic-bezier(0.59, 1, 0.88, 1.01);
  --button-ease-bounce: cubic-bezier(0.34, 2.27, 0.64, 1);
  transition: scale 150ms var(--button-ease-click);
}

.root::after {
  position: absolute;
  z-index: 1;
  inset: -0.125em;
  display: block;
  border-radius: 0.4rem;
  pointer-events: none;
  content: "";
  transition: box-shadow 300ms cubic-bezier(0.32, 0.72, 0, 1);
}

.root:focus-visible::after {
  box-shadow: 0 0 0 0.125em #000;
}

.root:active {
  scale: 0.955 0.925;
}

.segment {
  display: grid;
  flex-shrink: 0;
}

.surface {
  grid-area: 1 / 1;
  width: 100%;
  height: 100%;
  border-radius: 0.4rem;
  background: #ff008c;
  transition:
    scale 150ms var(--button-ease-overshoot),
    transform 150ms var(--button-ease-overshoot);
}

.textSegment {
  transform-origin: center left;
  transition:
    translate 150ms var(--button-ease-overshoot),
    rotate 150ms var(--button-ease-overshoot),
    transform 150ms var(--button-ease-overshoot);
}

.iconSegment {
  transform-origin: center right;
  transition:
    translate 150ms var(--button-ease-overshoot),
    rotate 150ms var(--button-ease-overshoot),
    transform 150ms var(--button-ease-overshoot);
}

@media (hover: hover) and (pointer: fine) and (prefers-reduced-motion: no-preference) {
  .root:is(:hover, :focus-visible) .surface {
    scale: 0.955 0.925;
    transform: scale(1.0471204188, 1.0810810811);
    transition:
      scale 150ms var(--button-ease-overshoot),
      transform 350ms 150ms var(--button-ease-bounce);
  }

  .root:is(:hover, :focus-visible) .textSegment {
    translate: 0.25em 0.125em;
    rotate: 4deg;
    transform: rotate(-4deg) translate3d(-0.25em, -0.125em, 0);
    transition:
      translate 150ms var(--button-ease-overshoot),
      rotate 150ms var(--button-ease-overshoot),
      transform 350ms 150ms var(--button-ease-bounce);
  }

  .root:is(:hover, :focus-visible) .iconSegment {
    translate: -0.5em 0.25em;
    rotate: -18deg;
    transform: rotate(18deg) translate3d(0.5em, -0.25em, 0);
    transition:
      translate 150ms var(--button-ease-overshoot),
      rotate 150ms var(--button-ease-overshoot),
      transform 350ms 150ms var(--button-ease-bounce);
  }
}

@media (prefers-reduced-motion: reduce) {
  .root,
  .root::after,
  .surface,
  .textSegment,
  .iconSegment {
    transition: none;
  }
}
